/*==========  section header  ==========*/
.fixed-block {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 282px;
  -webkit-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.07);
  background: #fff;
  overflow-y: auto;
  padding: 39px 28px 39px 38px;
  z-index: 2; }
  .fixed-block .logo {
    margin: 0 auto 37px; }
  .fixed-block .btn {
    width: 100%; }

.menu-products {
  font-size: 14px;
  width: 100%;
  max-width: 205px;
  margin: 0 auto 126px; }
  .menu-products li {
    margin: 0 0 20px; }
    .menu-products li:last-child {
      margin: 0; }
    .menu-products li a {
      width: 100%;
      color: #000000; }
      .menu-products li a:hover {
        color: #2E3649; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 184px;
  width: 100%; }

header {
  background: #2E3649;
  color: #fff;
  padding: 8px 0 0;
  font-size: 14px;
  margin: 0 0 17px; }

.address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #BBBBBB; }
  .address-box strong {
    color: #fff; }
  .address-box__icon {
    stroke: #5BBE2C;
    width: 15px;
    height: 31px;
    margin: 0 13px 0 0; }

.messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 13px 0 auto; }

.messenger-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  min-width: 28px;
  margin: 0 7px 0 0; }
  .messenger-box:last-child {
    margin: 0; }

.phone {
  color: #fff;
  margin: 0 10px 0 auto;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .phone:hover {
    color: #5BBE2C; }

.phone-icon {
  stroke: #5BBE2C;
  margin: 0 11px 0 0;
  width: 15px;
  height: 15px;
  min-width: 15px; }

.schedule {
  color: #BBBBBB; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  width: 100%; }
  .menu li {
    margin: 0 65px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #fff;
      position: relative;
      padding: 0 0 11px;
      border-bottom: 5px solid transparent; }
      .menu li a:hover {
        color: inherit;
        font-weight: bold;
        border-bottom-color: #5BBE2C; }

.header-bottom {
  margin: 6px 0 0; }

.btn-search {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 25px 6px auto;
  fill: #5BBE2C; }

.btn-basket {
  width: 29px;
  min-width: 29px;
  height: 29px;
  fill: #5BBE2C;
  position: relative;
  margin: 0 0 6px; }
  .btn-basket__val {
    position: absolute;
    top: -3px;
    right: -2px;
    width: 16px;
    height: 16px;
    background: #fff;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    border-radius: 50%; }
  .btn-basket:after {
    display: none; }

.basket-box {
  position: relative; }
  .basket-box .dropdown-menu {
    right: 0 !important;
    left: auto !important;
    margin: 12px 0 0; }

.dropdown-menu {
  position: absolute;
  z-index: 2;
  background: #fff;
  margin: 3px 0 0;
  top: 100%;
  -webkit-box-shadow: 0px 0px 16px rgba(46, 54, 73, 0.2);
          box-shadow: 0px 0px 16px rgba(46, 54, 73, 0.2);
  border: 1px solid #EEEEEE;
    border-radius: 3px;
  padding: 20px 16px 16px 22px; }

.dropdown-box-basket {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 18px; }
  .dropdown-box-basket__icon {
    fill: #5BBE2C;
    width: 33px;
    height: 33px; }
  .dropdown-box-basket__body {
    width: calc(100% - 33px);
    padding: 0 0 0 25px;
    line-height: 26px;
    white-space: nowrap; }
    .dropdown-box-basket__body strong {
      display: block;
      text-transform: uppercase; }

.btn-burger {
  width: 27px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }
  .btn-burger span {
    width: 100%;
    background: #5BBE2C;
    height: 2px;
    border-radius: 3px; }

/*==========  section header end  ==========*/
/*==========  mobile menu  ==========*/
/*==========  mobile menu end  ==========*/
