@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  color: #858585;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #EEEEEE;
    border-radius: 25px;
  width: 100%;
  background: #fff;
  height: 40px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #858585; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #858585; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #858585; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #858585; }
  input:hover, textarea:hover, select:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

textarea {
  padding: 12px 27px;
  height: 164px; }

label {
  display: block;
  width: 100%;
  margin: 0 0 20px; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B5B5B5;
  font-size: 10px;
  margin: 0;
  cursor: pointer; }

.inp-check {
  display: none; }

.checkbox-custom {
  background: #5BBE2C;
  width: 19px;
  height: 19px;
  min-width: 19px;
  position: relative;
  border-radius: 50%;
  margin: 0 12px 0 0; }
  .checkbox-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 9px;
    height: 7px; }

.inp-check:checked + .checkbox-custom:before {
  background: url("../img/check.svg") no-repeat center;
    background-size: 100%; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  height: 43px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 14px; }

.btn-accent {
  color: #fff;
  background: linear-gradient(91.99deg, #5BBE2C 31.18%, #3DBF3D 71.69%);
  border-radius: 25px; }
  .btn-accent:hover {
    background: linear-gradient(91.99deg, #89F555 31.18%, #4EC54E 71.69%);
    color: #fff; }

.btn-border {
  color: #5BBE2C;
  padding: 0 42px;
  height: 40px;
  border: 1px solid #5BBE2C;
    border-radius: 30px; }
  .btn-border:hover {
    background: #5BBE2C;
    color: #fff; }

.btn-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-group .btn {
    margin: 0 20px 0 0;
    border-radius: 25px;
    max-width: 184px;
    width: 100%;
    padding: 0; }
    .btn-group .btn:last-child {
      margin: 0; }
  .btn-group .btn:not(:last-child):not(.dropdown-toggle), .btn-group .btn:not(:first-child) {
    border-radius: 25px; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.fill-none {
  fill: none; }

strong, b {
  font-weight: bold;
  display: inline-block; }

.my-ul {
  list-style: none; }

h1 {
  font-size: 35px;
  font-weight: bold;
  width: 100%; }

h2 {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 40px; }

h3 {
  font-size: 21px;
  font-weight: bold;
  width: 100%; }

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  width: 100%; }

.box-text {
  font-size: 14px;
  line-height: 21px; }
  .box-text p {
    margin: 0 0 30px; }
    .box-text p:last-child {
      margin: 0; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mt-40 {
  margin-top: 40px; }

.container {
  max-width: 1200px;
  padding: 0 10px; }

.row {
  margin: 0 -10px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0 10px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.text-decoration {
  text-decoration: underline; }

.color-grey {
  color: #BBBBBB; }

a.color-grey:hover {
  color: #5BBE2C; }

.links-grey {
  font-size: 13px;
  color: #858585; }
  .links-grey:hover {
    color: #5BBE2C; }

.bg-accent {
  background: #5BBE2C; }

.bg-red {
  background: #B70000; }

span.bg-accent {
  color: #2E3649;
  border-radius: 20px;
  padding: 3px 6px; }

.d-inline {
  display: inline-block; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  opacity: 1;
  padding: 0;
  width: 18px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: transparent; }

.slick-prev {
  left: 16px; }

.slick-next {
  right: 16px; }

.tooltip-box {
  -webkit-box-shadow: 0 0 7px rgba(46, 54, 73, 0.26);
          box-shadow: 0 0 7px rgba(46, 54, 73, 0.26);
  background: #FFFFFF;
  border-radius: 6px;
  padding: 0 9px;
  color: #5BBE2C;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: -19px;
  white-space: nowrap;
  z-index: 1;
  display: none; }

.btn-tooltip-red .tooltip-box {
  color: #B60101; }

.tooltip-arrow {
  display: none; }

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
  display: none !important; }

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  display: none !important; }

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
  display: none !important; }

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
  display: none !important; }
